<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>Student List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact</th>
                <th>Email</th>
                <!-- Add more columns for other user attributes -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.first_name}"></td>
                <td th:text="${user.last_name}"></td>
                <td th:text="${user.contact}"></td>
                <td th:text="${user.email}"></td>
                <!-- Add more columns for other user attributes -->
            </tr>
        </tbody>
    </table>


</body>
</html>
